@model WebApplication1.Models.StagiaireModel

@{
    Layout = "~/Views/Shared/_Profil.cshtml";
}
@{
    ViewBag.Title = "Modifier profil";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="en-header mb-3">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-10">

                    <div class="row justify-content-between align-items-center">
                        <div class="col-6 col-md-3">

                            <a href="" class="en-brand-inner">
                                <img src="~/Content/stagiaire_profil/images/forma2plus-logo-home.svg" alt="">
                            </a>

                        </div>

                        <div class="col-6 inc-btn-container">
                            <a href="" class="inc-btn">
                                <span>Report online event</span>
                                <img src="~/Content/stagiaire_profil/images/inc-icon.svg" alt="">
                            </a>
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="alert-danger">  @ViewBag.Champvide</div>
    <input type="hidden" name="numeroprofil" id="numeroprofil" value="@Model.Numero" />
    <input type="hidden" name="numindividu" id="numindivdu" value="@Model.numindividu" />

    <div class="en-nav mb-5">
        <div class="container">


            <div class="en-title-top">
                <h2>Evaluation langue</h2>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-10">


                    <div class="row justify-content-start justify-content-lg-between align-items-center">
                        <div class="col-md-4 col-lg-5 col-xl-4 mb-3 mb-lg-0">
                            <span class="en-stagiaire">
                                <i class='bx bxs-user-circle'></i>                            </span>
                        </div>
                        <div class="col-md-8 col-lg-7 col-xl-6">
                            <ul class="en-menu">
                                <li class="en-menu-item">
                                    <span> <a href="@Url.Action("Plogon", new { id = Model.Numero })">  	&#10229; Retour au menu stagiaire </a></span>
                                </li>

                            </ul>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

    <div class="en-content">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-10 col-xl-8">

                    <form action="">

                        <div class="en-fiche-stagiare">
                            <nav>
                                <div class="nav en-tab-nav" id="nav-tab" role="tablist">
                                    <a href="#signaletique" id="tab-nav-1" class="nav-item nav-link active show" id="bs-nav-time" data-toggle="pill" role="tab" aria-controls="signaletique" aria-selected="false">
                                        <i class='bx bxs-id-card'></i>
                                        Signaletique
                                    </a>
                                    <a href="#disponibilite" id="tab-nav-2" class="nav-item nav-link" id="bs-nav-theme-1" data-toggle="pill" role="tab" aria-controls="disponibilite" aria-selected="false">
                                        <i class='bx bxs-calendar-check'></i>
                                        Disponibilités
                                    </a>
                                    <a href="#linguistique" id="tab-nav-3" class="nav-item nav-link" id="bs-nav-theme-2" data-toggle="pill" role="tab" aria-controls="linguistique" aria-selected="false">
                                        <i class='bx bxs-book-bookmark'></i>
                                        Linguistique
                                    </a>
                                    <a href="#centre-interet" id="tab-nav-4" class="nav-item nav-link" id="bs-nav-theme-3" data-toggle="pill" role="tab" aria-controls="centre-interet" aria-selected="true">
                                        <i class='bx bxs-game'></i>
                                        Centre d'interêts
                                    </a>


                                </div>
                            </nav>

                            <div class="tab-content">

                                <!-- Signaletique -->
                                <div class="tab-pane fade show active" id="signaletique" role="tabpanel" aria-labelledby="bs-nav-time">

                                    <h4 class="mb-3 text-center">Votre profil</h4>


                                    <div class="row mb-3">
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="en-radio-group">
                                                @Html.RadioButtonFor(model => model.Civilite, "M.")  <label for="M.">M.</label>
                                                @Html.RadioButtonFor(model => model.Civilite, "Mme")  <label for="Mme">Mme</label>
                                                @Html.RadioButtonFor(model => model.Civilite, "Mlle")  <label for="Melle">Mlle</label>

                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-text" hidden>
                                        <b>
                                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-label" } })
                                        </b>
                                    </p>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="en-label" for="">Nom</label>
                                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "en-form" } })
                                            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-6">
                                            <label class="en-label" for="">Prénoms</label>
                                            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "en-form" } })
                                            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-12 col-md-4 mb-3 mb-md-0">
                                            <label class="en-label" for="">Fonction</label>
                                            @Html.EditorFor(model => model.fonction, new { htmlAttributes = new { @class = "en-form" } })
                                            @Html.ValidationMessageFor(model => model.fonction, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-6 col-md-4">
                                            <label class="en-label" for="">Département/Service</label>
                                            @Html.EditorFor(model => model.Departement, new { htmlAttributes = new { @class = "en-form" } })
                                        </div>

                                        <div class="col-6 col-md-4">
                                            <label class="en-label" for="">Société</label>
                                            @Html.EditorFor(model => model.societe, new { htmlAttributes = new { @class = "en-form", @id = "societe" } })

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-12 col-md-4 mb-3 mb-md-0">
                                            <label class="en-label" for="">Email</label>
                                            @Html.EditorFor(model => model.mail, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "en-form",
                                               @id = "mail",
                                               @type = "mail",
                                               required = "required"
                                           }
                                       })
                                            @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-6 col-md-4">
                                            <label class="en-label" for="">Portable</label>
                                            @Html.EditorFor(model => model.Portable, new { htmlAttributes = new { @class = "en-form", @id = "portable", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Portable, "", new { @class = "text-danger" })

                                        </div>

                                        <div class="col-6 col-md-4">
                                            <label class="en-label" for="">Autre téléphone</label>
                                            @Html.EditorFor(model => model.Telephone, new
                             {
                                 htmlAttributes = new
                                 {
                                     @class = "en-form",
                                     @id = "telephone"
                                 }
                             })

                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-12 col-md-4 mb-3 mb-md-0">
                                            <label class="en-label" for="">Adresse du domicile</label>
                                            @Html.EditorFor(model => model.RueDuStage, new { htmlAttributes = new { @class = "en-form" } })
                                            @Html.ValidationMessageFor(model => model.RueDuStage, "", new { @class = "text-danger", @id = "RueDustageErreur" })
                                        </div>

                                        <div class="col-6 col-md-4">
                                            <label class="en-label" for="">Ville</label>
                                            @Html.EditorFor(model => model.VilleDuStage, new { htmlAttributes = new { @class = "en-form" } })
                                        </div>

                                        <div class="col-6 col-md-4">
                                            <label class="en-label" for="">Code postal</label>
                                            @Html.EditorFor(model => model.CPDuStage, new
                               {
                                   htmlAttributes = new { @class = "en-form" }
                               })
                                        </div>
                                    </div>
                                    <div class="card-margin">
                                        <p id="infos" style="display:none;color:red;font-size:20px;">Veuillez bien remplir tous les champs "*" svp!</p>
                                    </div>

                                    <div class="en-btn-wrap pt-3">
                                        <a href="#" class="en-btn" data-btn="next" aria-controls="tab-nav-2" onclick="check_somes();">
                                            Suivant
                                            <i class='bx bx-right-arrow-alt'></i>
                                        </a>
                                    </div>

                                </div>
                                <!-- Signaletique -->
                                <!-- Disponibilite -->
                                <div class="tab-pane fade" id="disponibilite" role="tabpanel" aria-labelledby="disponibilite-tab">
                                    <h4 class="mb-3">Disponibilités hebdomadaires pour votre formation</h4>

                                    <div class="row mb-3">
                                        <div class="col-md-4 mb-3 mb-md-0">
                                            <label class="en-label" for="">Temps professionnel(heures)</label>
                                            <input type="text" class="en-form">
                                        </div>

                                        <div class="col-md-4 mb-3 mb-md-0">
                                            <label class="en-label" for="">Temps personnel(heures)</label>
                                            <input type="text" class="en-form">
                                        </div>

                                        <div class="col-md-4">
                                            <label class="en-label" for="">Horaires souhaités</label>
                                            <input type="text" class="en-form">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-4 mb-3 mb-md-0">
                                            <label class="en-label" for="">Jours souhaités</label>
                                            <input type="text" class="en-form">
                                        </div>

                                        <div class="col-md-8">
                                            <label class="en-label" for="">Abcences prévues pour les 6 mois a venir</label>
                                            <input type="text" class="en-form">
                                        </div>
                                    </div>
                                    <div class="card-margin">
                                        <p id="infos2" style="display:none;color:red;font-size:20px;">Veuillez bien remplir tous les champs "*" svp!</p>
                                    </div>
                                    <div class="en-btn-wrap pt-3">
                                        <a href="#" class="en-btn" data-btn="next" aria-controls="tab-nav-3" onclick="check_dispo(); ">
                                            Suivant
                                            <i class='bx bx-right-arrow-alt'></i>
                                        </a>


                                    </div>

                                </div>
                                <!-- Disponibilite -->
                                <!-- Linguistique -->
                              
                                <div class="tab-pane fade" id="linguistique" role="tabpanel" aria-labelledby="bs-nav-theme--">
                                    <h4 class="mb-3">Votre niveau</h4>

                                    <div class="row mb-4">
                                        <div class="col-sm-6 mb-3">
                                            <label class="en-label" for="">Nombre d'années après le BAC</label>
                                            @Html.EditorFor(model => model.nbansbac, new { htmlAttributes = new { @class = "en-form", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @onpast = "return false" } }) <label for="Nbansbac"></label>
                                        </div>

                                        <div class="col-sm-6 mb-3">
                                            <label class="en-label" for="">Langues maternelle</label>
                                            @Html.EditorFor(model => model.languemat, new { htmlAttributes = new { @class = "en-form", maxlength = "20", @id = "languemat" } })
                                            @Html.ValidationMessageFor(model => model.languemat, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label class="en-label" for="">Première langue</label>
                                            @Html.EditorFor(model => model.premlang, new { htmlAttributes = new { @class = "en-form", maxlength = "10" } })
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="en-label" for="">Séjour dans les pays anglophones</label>
                                            @Html.EditorFor(model => model.paysanglo, new { htmlAttributes = new { @class = "en-form" } })
                                        </div>
                                    </div>

                                    <div class="en-slice mb-4"></div>

                                    <h4 class="mb-3">Votre interlocuteur</h4>

                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <label class="en-label" for="">Nationnalité</label>
                                            @Html.EditorFor(model => model.NationInterloc, new { htmlAttributes = new { @class = "en-form" } })
                                        </div>

                                        <div class="col-6">
                                            <label class="en-label" for="">Fonction</label>
                                            @Html.EditorFor(model => model.FonctInterloc, new { htmlAttributes = new { @class = "en-form" } })
                                        </div>
                                    </div>

                                    <div class="en-slice mb-4"></div>

                                    <h4 class="mb-3">Autres</h4>

                                    <div class="row mb-4">
                                        <div class="col-6">
                                            <label class="en-label" for="">Domaines spécifiques (métiers, fonctions)</label>
                                            @Html.TextAreaFor(model => model.AttentesSpec, new { cols = 15, @rows = 3, @class = "en-form" })
                                        </div>

                                        <div class="col-6 d-flex flex-column justify-content-between">
                                            <label class="en-label" for="">Vos besoins linguistiques(objectifs)</label>
                                            @Html.TextAreaFor(model => model.BesoinsSpecif, new { cols = 15, @rows = 3, @class = "en-form" })
                                        </div>
                                    </div>
                                    <div class="card-margin">
                                        <p id="infos3" style="display:none;color:red;font-size:20px;">Veuillez bien remplir tous les champs "*" svp!</p>
                                    </div>

                                    <div class="en-btn-wrap pt-3">
                                        <a href="#" class="en-btn" data-btn="next" aria-controls="tab-nav-4" onclick="check_lingustique(); ">
                                            Suivant
                                            <i class='bx bx-right-arrow-alt'></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Linguistique -->
                                <!-- Centres d'interêts -->
                                <div class="tab-pane fade" id="centre-interet" role="tabpanel" aria-labelledby="">

                                    <h4 class="mb-3">Vos centre d'interêts</h4>
                                    <div class="row">

                                        <div class="col-6 col-md-3">
                                            @Html.CheckBoxFor(model => model.arts, new { id = Html.NameFor(x => x.arts) })
                                            <label for="arts" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/arts.jpg" />
                                                </div>
                                                <span>Arts</span>

                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">

                                            @Html.CheckBoxFor(model => model.litterature, new { id = Html.NameFor(x => x.litterature) })
                                            <label for="litterature" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/litterature.jpg" />
                                                </div>
                                                <span>Littérature</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">

                                            @Html.CheckBoxFor(model => model.sport, new { id = Html.NameFor(x => x.sport) })
                                            <label for="sport" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/sport.jpg" />
                                                </div>
                                                <span>Sport</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">
                                            @Html.CheckBoxFor(model => model.jardin, new { id = Html.NameFor(x => x.jardin) })
                                            <label for="jardin" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/garden.jpg" />
                                                </div>
                                                <span>Jardin</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">

                                            @Html.CheckBoxFor(model => model.musique, new { id = Html.NameFor(x => x.musique) })
                                            <label for="musique" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/music.jpg" />
                                                </div>
                                                <span>Musique</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">

                                            @Html.CheckBoxFor(model => model.theatre, new { id = Html.NameFor(x => x.theatre) })
                                            <label for="theatre" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/theater.jpg" />
                                                </div>
                                                <span>Théatre</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">
                                            @Html.CheckBoxFor(model => model.bricolage, new { id = Html.NameFor(x => x.bricolage) })
                                            <label for="bricolage" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/bricolage.jpg" />
                                                </div>
                                                <span>Bricolage</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">

                                            @Html.CheckBoxFor(model => model.sciences, new { id = Html.NameFor(x => x.sciences) })
                                            <label for="sciences" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/sciences.jpg" />
                                                </div>
                                                <span>sciences</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-3">

                                            @Html.CheckBoxFor(model => model.cuisine, new { id = Html.NameFor(x => x.cuisine) })
                                            <label for="cuisine" class="check-box">
                                                <div class="cb-img-container">
                                                    <img src="~/Content/images/kitchen.jpg" />
                                                </div>
                                                <span>Cuisine</span>
                                            </label>
                                        </div>

                                        <div class="col-6 col-md-9 pt-3">
                                            <label class="en-label" for="">Autres</label>
                                            @Html.TextAreaFor(model => model.autres_interets, new { cols = 30, @rows = 10, @class = "en-form" })
                                        </div>

                                    </div>

                                    <div class="en-btn-wrap pt-3">
                                        <button class="en-btn">
                                            Enregistrer
                                            <i class='bx bxs-save'></i>
                                        </button>
                                    </div>

                                </div>
                                <!-- Centres d'interêts -->


                            </div><!-- .tab-content -->
                        </div><!-- .fiche stagiaire -->
                    </form>

                </div>

            </div>
        </div>
    </div>

    







}



